body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url('fondito.jpg') no-repeat center center fixed;
    background-size: cover; 
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif; 
    text-align: center;
}

h1, h2, h3, p {
    background-color: rgb(0, 0, 0);
    color: #ffffff; 
    padding: 10px;
    text-align: justify; 
    margin: 5px; 
    border-radius: 10px; 
}

button {
    background-color: #ffffff; 
    color: #000000; 
    padding: 18px; 
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px; 
}
h1, p, img, button {
    text-align: left;
    margin: 0 auto; 
    
  }








    
        
    
    
    


